[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
this-package = {editable = true, path = "."}

[dev-packages]
this-package = {editable = true, extras = ["dev"], path = "."}

[pipenv]
allow_prereleases = true
